 {
  display: inline-block;
}
.box 
{
    Display: inline-block
    width: 200px;
    height: 100px;
    margin: 1em;
}

.box {
  display: inline-block;
  width: 500px;
  height: 200px;
  border: 3px solid #0C7BC2;
}
.after-box {
  border: 3px solid #0C7BC2;
}

div {
  border: 2px solid red;
  border-radius: 8px;
  padding: 5px;
}

body  {
  background-color: blue;
}

p {
  color: yellowgreen;
}